@model IEnumerable<examApi.Models.EmpDept>

@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(Model=>Model.EmpName)</th>
            <th>@Html.DisplayNameFor(Model=>Model.DeptName)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.DeptName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
